.log-table-width {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}
.btn-small {
  font-size: 12px;
  line-height: 22px;
}
.btn-white {
  background-color: white;
  color: #212121 !important;
  margin-right: 5px;
}
.btn-white:hover {
  background-color: white;
  color: #212121 !important;
}
.btn-margin-right {
  margin-right: 5px;
}
.btn-gap {
  margin-right: 5px;
}

.btn-disabled:disabled {
  background-color: #202a44;
  color: #fff;
  border-color: #202a44;
  cursor: not-allowed;
  opacity: 0.65;
}

.project-logs-wrapper {
  .project-logs-content {
    .project-logs {
      .nologs-wrapper {
        height: 247px;
        border: 1px dashed $border-color;
        border-radius: 8px;
        margin-top: 24px;
        span {
          color: $primary;
          font-size: 0.75rem;
          svg {
            margin-right: 8px;
          }
        }
      }
      .table-top-content {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .table-heading {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        .table-entries {
          color: $primary;
          margin: 0;
          font-size: 0.875rem;
          .showing-strong {
            font-weight: bold;
          }
        }
        .table-bulk-changes {
          display: flex;
          margin-left: auto;
          align-items: center;
          justify-content: flex-start;
          > * {
            &:not(:first-child) {
              margin-left: 1rem;
            }
          }
          .log-search {
            .search-icon {
              display: inline-block;
              background: url('../../assets/images/search.svg') no-repeat 8px
                center;
            }
            &-input {
              height: 34px;
              border: 1px solid $border-color;
              outline: none !important;
              padding: 8px 8px 8px 34px;
              min-width: 240px;
              transition: all 0.3s ease;
              border-radius: 4px;
              &:focus {
                border-color: $primary;
              }
            }
          }
        }
      }
      .highlight-row {
        background: rgba($primary, 0.03);
      }
      .l-table-wrapper {
        max-height: calc(100vh - 230px);
        margin-bottom: 32px;
        table {
          thead {
            tr {
              top: 0;
              z-index: 2;
              position: sticky;
            }
          }
          tr {
            .ticket-checkbox {
              width: 36px;
              min-width: 36px;
              cursor: pointer;
              .form-group {
                margin: 0;
                .custom-control {
                  &-input {
                    width: 20px;
                    height: 24px;
                  }
                  &-label {
                    top: unset;
                    padding: 0 !important;
                  }
                }
              }
            }

            .log-description {
              width: 500px;
              min-width: 500px;
            }
            .para-no {
              min-width: 70px;
            }
            .action-items {
              display: flex;
              align-items: center;
              justify-content: center;
              button {
                white-space: nowrap;
                &:not(:first-of-type) {
                  margin-left: 12px;
                }
              }
            }
            .form-control {
              &::-webkit-input-placeholder {
                color: #999;
              }
              &:-ms-input-placeholder {
                color: #999;
              }
              &::-ms-input-placeholder {
                color: #999;
              }
              &::placeholder {
                color: #999;
              }
            }
            .log-datepicker {
              margin: 0 !important;
              label {
                display: none !important;
              }
              .react-datepicker__input-container {
                input {
                  width: 150px;
                  height: 44px;
                  border: 1px solid $border-color !important;
                  padding: 10px 20px;
                  min-width: 200px;
                  border-radius: 4px !important;
                  background-color: transparent !important;
                  &:focus {
                    box-shadow: none !important;
                    border-color: $primary !important;
                  }
                  &::-webkit-input-placeholder {
                    color: #999;
                    opacity: 1;
                  }
                  &:-ms-input-placeholder {
                    color: #999;
                    opacity: 1;
                  }
                  &::-ms-input-placeholder {
                    color: #999;
                    opacity: 1;
                  }
                  &::placeholder {
                    color: #999;
                    opacity: 1;
                  }
                }
              }
            }
            .log-desc {
              height: 15px;
              overflow: hidden;
              position: relative;
              &.show-content {
                height: 100%;
                overflow: unset;
              }
              .showmore-wrap {
                right: 0;
                bottom: 0;
                position: absolute;
                white-space: nowrap;
                background-color: $white;
                display: inline-block;
                font-weight: bold;
                cursor: pointer;
              }
              .showmore-wrap:hover {
                color: rgba(32, 42, 68, 0.6);
              }
            }
          }
        }
      }
      .side-by-side {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // max-height: calc(100vh - 250px);
        margin-bottom: 32px;
      }
      .table-footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          color: #999;
          margin: 0;
          font-size: 0.75rem;
          font-weight: bold;
          span {
            color: $primary;
          }
        }
      }
      .logs-pagination {
        justify-content: center;
      }
    }
  }
}

.error-red {
  color: red;
}

.submittal-table {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  table td .has-typehead {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.procore-modal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .procore-modal-body {
    display: flex !important;
    justify-content: space-between !important;
  }
}

.position-button-wrap {
  position: fixed;
}
.button-wrap {
  width: 100%;
  display: flex;
  margin-top: 15px;
  margin-left: 20px;
}
