.header-wrapper {
  padding: 16px 0;
  display: flex;
  // align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
  .header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 33%;
    .header-back-wrapper {
      margin: auto 16px 4px 0;
      .header-back {
        width: 24px;
        height: 24px;
        border: 1px solid #999999;
        display: flex;
        transition: all 0.3s ease;
        align-items: center;
        border-radius: 4px;
        justify-content: center;
        &:hover {
          opacity: 0.6;
        }
      }
    }
    .header-breadcrumb-wrapper {
      .breadcrumb-content {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        justify-content: flex-start;
        .breadcrumb-text {
          text-decoration: underline;
          font-size: 12px;
          line-height: 16px;
          transition: all 0.3s ease;
          //   &:last-of-type {
          //     color: #999999 !important;
          //     cursor: not-allowed !important;
          //   }
          position: relative;
          &:last-of-type {
            color: #999999 !important;
            cursor: not-allowed !important;
            pointer-events: none;
            text-decoration: none !important;
          }
          &:not(:last-of-type) {
            position: relative;
            margin-right: 24px;
            &:hover {
              opacity: 0.6;
              &:after {
                opacity: 1;
              }
            }
            &::after {
              top: 0;
              width: 5px;
              color: #212121;
              right: -14px;
              height: 100%;
              content: '/';
              display: inline-block;
              position: absolute;
            }
          }
        }
      }
      .header-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .page-title {
          margin: 0;
          line-height: 30px;
        }
      }
    }
  }

  .header-right {
    width: 33%;
    display: grid;
    margin-left: auto;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .header-center {
    // margin: auto;
    width: 34%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .page-title {
    margin: 0;
    line-height: 30px;
    font-size: 27.2px;
    font-weight: 500;
  }
  .project-type {
    font-weight: 600;
  }
  .accent-btn {
    background-color: rgb(213, 232, 62);
    border: none;
    color: #202a44 !important;
  }
}
.collab-wrapper {
  padding: 5px 0;
}
.version-control-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  margin: 5px;
}

.spec-btn-disabled {
  &.disabled {
    background-color: #999999;
  }
}

.spliter {
  border-right: 1px solid rgba(174, 184, 198, 0.25);
}

.header-wrapper-swap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  .header-swap {
    .main-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .breadcrumb-wrap {
        display: flex;
        gap: 13px;
        align-items: center;
        .main-link {
          font-size: 13px;
          line-height: 14px;
          font-weight: 500;
          color: #9ca3af;
        }
        .active-link {
          font-size: 13px;
          line-height: 14px;
          font-weight: 500;
          color: #676f74;
        }
      }
      .title-wrap {
        .title-content {
          font-size: 24px;
          line-height: 22px;
          font-weight: 600;
          color: #0e2332;
          letter-spacing: -1%;
        }
      }
    }
    .table-top-btn {
      display: flex;
      align-items: center;
      gap: 6px;
      border: none;
      background-color: #F4F7FB;
      padding: 5px 10px;
      color: #231F20;
      font-size: 13px;
      font-weight: 500;
      line-height: 24px;
    }
    .table-top-btn:hover {
      background-color: #e0eaf7;
    }
  }
  .light-btn {
    border-radius: 6px;
    background: #d5e73e;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    box-shadow: rgba(0, 0, 0, 0.05);
    border: none;
  }
  .total-count-documents {
    font-size: 14px;
    transition: all 0.3s ease;
    text-align: left;
    color: #676f74 !important;
    margin-top: 10px;
  }
  .total-count-submittals {
    font-size: 14px;
    transition: all 0.3s ease;
    text-align: left;
    color: #676f74 !important;
    margin-top: 10px;
  }
  .dropdown {
    button {
      border: none;
      background-color: #F4F7FB;
      padding: 5px 10px !important;
      color: #231F20;
      font-size: 13px;
      font-weight: 500;
      line-height: 24px;
    }
    button:hover {
      background-color: #e0eaf7;
    }
    .export-btn {
      min-width: 110px;
    }
  }
  .trash-icon {
    background-color: #F4F7FB;
    border: none;
    padding: 5px 10px;
    line-height: 24px;
  }
  .trash-icon:hover {
    background-color: #e0eaf7;
  }
  .clear-filters button {
    border: none;
    background-color: #F4F7FB;
    padding: 5px 10px !important;
    color: #231F20;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
  }
  .clear-filters button:hover {
    background-color: #e0eaf7;
  }
}
