html, body {
    height: 100%;
  }
  
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
  }
  
  .form-group {
    margin-bottom: 0;
  }
  
  .form-control {
    border-radius: 20px;
  }
  
  .btn-primary {
    border-radius: 20px;
  }
  
  #root {
    height: 100%;
  }
  