.navigation-wrapper {
  top: 0;
  height: 60px;
  z-index: 3;
  position: sticky;
  box-shadow: 0px 1px 1px 0px rgba($black, 0.1);
  background-color: $primary;
  .navigation {
    width: 100%;
    padding: 0 20px;
    // max-width: 1350px;
    .navbar-brand {
      padding: 0;
      svg {
        width: 145px;
        height: 41px;
      }
    }
    .company-selection-wrapper {
      .form-group {
        margin: 0;
      }
    }
    .title-wrap{
      margin: auto;
      .title-label {
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        color: #676f74 !important;
        text-align: start;
      }
      .title-content{
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: #f3f3f3;
        letter-spacing: -1%;
        margin-bottom: 0px;
      }
    }
    .cust-name{
      color: #f3f3f3;
    }
    .navbar-nav {
      .nav-item {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        &:not(:last-of-type) {
          margin-right: 30px;
        }
        .nav-link {
          color: #212121 !important;
          padding: 0;
          transition: all 0.3s ease-in-out;
          &:hover {
            opacity: 0.65;
          }
          &.notification-wrapper {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            .notification-count {
              top: -3px;
              right: -6px;
              color: $white;
              display: flex;
              position: absolute;
              font-size: 0.75rem;
              align-items: center;
              justify-content: center;
              background-color: #ff6e40;
              @include circle(16px);
            }
          }
          &.user-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            .user-icon {
              color: $white;
              border: 1px solid #D5E83E;
              display: flex;
              align-items: center;
              margin-right: 8px;
              justify-content: center;
              @include circle(32px);
            }
            .user-name {
              color: $white;
              display: inline-block;
              font-size: 0.75rem;
            }
            &.navdrop-open {
              svg {
                transform: rotate(-180deg);
              }
            }
            > svg {
              margin-left: 1rem;
              transition: all 0.2s ease-in-out;
            }
          }
          &.support {
            margin-right: 16px;
            padding-right: 16px;
            border-right: 1px solid rgba(174, 184, 198, 0.25);
          }
        }
        .nav-dropdown {
          top: calc(100% + 12px);
          right: 0;
          width: 230px;
          padding: 0px;
          position: absolute;
          box-shadow: 0px 10px 15px -3px #0000001A;
          border-radius: 8px;
          background-color: $white;
          
          .navlist {
            padding: 12px 16px;
            background-color: #F8F8FA;
            color: #676F74;
            border-radius: 8px 8px 0px 0px;
            display: block;
            font-size: 0.875rem;
            line-height: 20px;
            color: #202A44 !important;
            cursor: pointer !important;
            &:hover {
              background-color: #e6e6e6;
              border-radius: 8px 8px 8px 8px;
            }
            &.flex {
              display: flex;
            }
            &.list-logout {
              background-color: transparent !important;
            }
          }
        }
      }
    }
  }
}
