.loader-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  // background-color: rgba(255,255,255,0.75); //white Background
  // background-color: rgba(0,0,0,0.75); //black Background
  background-color: rgba(32, 42, 68, 0.75); //theme Background

  &.wrapper-component {
    position: absolute;

    .dots {
      min-height: auto;
    }
  }

  .dot-processing {
    color: $white;
    position: absolute;
    padding-bottom: 60px;
  }

  .dots {
    min-height: 100vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    >div {
      // background: $primary; //theme color
      background: $white; //white color
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 3px;

      &.dot1 {
        animation: 1s 0.25s infinite ease-in-out both low-high;
      }

      &.dot2 {
        animation: 1s 0.5s infinite ease-in-out both low-high;
      }

      &.dot3 {
        animation: 1s 0.75s infinite ease-in-out both low-high;
      }

      &.dot4 {
        animation: 1s 0.8s infinite ease-in-out both low-high;
      }
    }
  }

  @keyframes low-high {

    0%,
    100% {
      transform: scale(0);
    }

    50% {
      transform: scale(1);
    }
  }
}