// @import '../../../../node_modules/bootstrap/scss/_functions.scss';
// @import '../../../../node_modules/bootstrap/scss/_variables.scss';
@import './variables';
.form-group {
  margin-bottom: 1.25rem;
}

.form-control {
  border: 1px solid $border-color !important;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  min-width: 200px;
  &:focus {
    box-shadow: none !important;
    border-color: $primary !important;
  }
  &.disabled {
    background-color: $disabled-bg;
    border-color: $input-disabled-color;
    color: $input-disabled-color;
    cursor: not-allowed;
    + .placeholder {
      color: $input-disabled-color;
    }
  }
}
textarea.form-control {
  height: auto;
}

.custom-file{
  height: $custom-file-height;
  .custom-file-input:focus ~ .custom-file-label{
    box-shadow: none !important;
  }
  .custom-file-label {
    border-color: $border-color !important;
    &:focus{
      box-shadow: none !important;
      border-color: $primary !important;
    }
    &:after {
      height: $custom-file-height;
      padding: $input-padding-y $input-padding-x;
    }
  }
}

// Select dropdown
select {
  appearance: none;
  // background-image: url("#{$assetPath}Dropdown.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center right 0.75rem !important;
  background-size: 0.875rem !important;
  min-width: 200px;
  padding-right: 40px;
}

.group-inline{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .custom-control{
      margin-bottom: 1rem !important;
  }
}
.custom-control{
  position: relative;
  padding-left: 0;
  &:not(:last-of-type){
      margin-right: 48px;
      margin-bottom: 1rem;
  }
  .custom-control-input{
      position: absolute;
      z-index: -1;
      opacity: 0;
  }
  .custom-control-label {
      color: #858585;
      cursor: pointer;
      position: relative;
      font-size: 1rem;
      font-weight: 400;
      user-select: none;
      padding-left: 1.75rem !important;
      &:before {
          left: 0;
          content: "";
          position: absolute;
      }
      &:after {
          left: 0;
          content: "";
          position: absolute;
      }
  }
  &.custom-checkbox {
      input[type="checkbox"] {
          & + .custom-control-label {
              cursor: pointer;
              position: relative;
              line-height: 24px;
              display: inline-block;
              &:before {
                  top: 3px;
                  width: 18px;
                  height: 18px;
                  border: 1px solid #B4B4B4;
                  transform: none;
                  box-shadow: none;
                  background: #fff;
                  transition: all 0.2s ease;
                  border-radius: 2px;
              }
              &:after {
                  top: 7px;
                  left: 3px;
                  width: 12px;
                  height: 7px;
                  border: solid #fff;
                  opacity: 0;
                  transform: rotate(-45deg) scale(0);
                  background: transparent;
                  transition: all 0.2s ease;
                  border-width: 0 0 2px 2px;
                  border-radius: 1px;
              }
          }
          &:checked + .custom-control-label {
              &:after {
                  opacity: 1;
                  transform: rotate(-45deg) scale(1);
              }
              &:before {
                  background: #202A44;
                  border-color: #202A44;
              }
          }
      }
  }
  &.custom-radio {
    input[type="radio"] {
      & + .custom-control-label {
        cursor: pointer;
        position: relative;
        line-height: 24px;
        display: inline-block;
        &:before {
          top: 3px;
          width: 18px;
          height: 18px;
          border: 1px solid #B4B4B4;
          box-shadow: none;
          background: #fff;
          border-radius: 50%;
        }
        &:after {
          top: 6px;
          left: 3px;
          width: 12px;
          height: 12px;
          opacity: 0;
          transform: scale(0);
          background: transparent;
          transition: all 0.2s ease;
          border-radius: 50%;
        }
      }
      &:checked + .custom-control-label {
        &:after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
          background: #202A44;
        }
        &::before {
          border-color: #202A44;
        }
      }
    }
  }
  &.custom-checkbox, &.custom-radio {
    input{
      &:disabled, &.disabled {
        & + .custom-control-label {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
}

//tables
.l-table-wrapper,
.ui-table-wrapper {
  border: 1px solid $border-color;
  overflow-x: auto;
  .reduce-height {
    padding: 4px 8px !important;
  }
  .small-font {
    font-size: 12px !important;
    padding: 6px 8px !important;
  }
  table {
    border-collapse: separate !important;
    border-spacing: 0;
    margin: 0;
    table-layout: auto !important;
    thead,
    .ui-table-thead {
      tr {
        border: 0;
        th {
          background: rgba($primary, 0.9);
          color: $white !important;
          font-size: $font-size-sm !important;
          font-weight: $font-weight-bold !important;
          border-bottom-width: 1px;
          border-top: 0;
          text-transform: capitalize;
          user-select: none;
          vertical-align: middle;
          white-space: nowrap;
          padding: $table-cell-padding-y-sm $table-cell-padding-x-sm !important;
          position: relative;
          box-shadow: 0 2px 4px $table-shadow-color;
          &:not(:last-child) {
            border-right: $table-border-width solid $table-border-color;
          }
          i{
            display: none;
          }
          .has-sorting{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            i{
              display: inline-block;
              margin-left: 8px;
              height: 12px;
              width: 14px;
              background: url('../../images/sort.svg') no-repeat center;
              &.sort-d{
                background: url('../../images/sortd.svg') no-repeat center;
              }
              &.sort-i{
                background: url('../../images/sorti.svg') no-repeat center;
              }
              &.has-filter{
                background: url('../../images/filter.svg') no-repeat center;
              }
            }
          }
        }
      }
    }
    tbody {
      tr {
        td {
          color: $table-body-color !important;
          vertical-align: middle;
          border-top: 0;
          padding: $table-cell-padding-x-sm $table-cell-padding-x-sm !important;
          border-right: $table-border-width solid $table-border-color;
          border-bottom: $table-border-width solid $table-border-color;
          &:last-child {
            border-right: 0;
          }
          .no-data {
            text-align: center;
            font-style: italic;
            color: $table-head-color;
            padding: 5px 0;
          }
          button{
            font-weight: normal;
          }
        }
        &:last-child {
          & > td {
            border-bottom: 0;
          }
        }
        &.expandable, &.expanding  {
          td:first-of-type,
          th:first-of-type {
            border-left: 4px solid $primary;
            padding-left: $table-cell-padding-x - 4px !important;
          }
        }
      }
    }
  }
}

.ui-table-loading  {
  opacity: 0.4 !important;
  background: $white;
  min-height: 200px;
}
.ui-table-loading-icon {
  color: $primary !important;
}
// links {

a {
  color: $primary !important;
  cursor: pointer !important;
  &:hover {
    color: $primary !important;
    text-decoration: none !important;
  }
}

//buttons
.btn {
  font-weight: $font-weight-bold;
  font-size: $font-size-base;
  line-height: 24px;
  display: block;
  align-items: center;
  text-transform: capitalize;
  border-radius: $border-radius;
  &:disabled,
  &.disabled {
      opacity: 1;
      cursor: not-allowed;
  }

  &-primary {
      @include button-variant($primary,
          rgba($primary, 80%),
          rgba($primary, 80%),
          rgba($primary, 80%),
          darken($primary, 5%),
          darken($primary, 5%) !important);
      color: $white !important;

      &.disabled,
      &:disabled {
          color: $white !important;
          background-color: $btn-disabled-primary;
          border-color: $btn-disabled-primary;
      }
  }

  &-secondary {
      background: transparent;
      @include button-outline-variant($primary, $primary, $btn-secondary-hover-bg, $primary);

      &.disabled,
      &:disabled {
          color: $btn-disabled-primary;
          background-color: $white;
          border-color: $btn-disabled-primary;
      }

      &:active {
          background: transparent !important;
          color: $primary !important;
      }

      &:hover, &:focus {
        color: rgba($primary, 0.6);
        border-color: $primary;
        background-color: $white;
      }
  }

  &-tertiary {
      background: transparent;
      @include button-outline-variant($btn-secondary-color, $btn-secondary-color, $btn-tertiary-bg, $btn-secondary-color);

      &.disabled,
      &:disabled {
          color: $btn-disabled-tertiary;
          background-color: $white;
          border-color: $btn-secondary-color;
      }

      &:active {
          background: transparent !important;
          color: $btn-secondary-color !important;
      }
  }

  &:focus {
      outline: none !important;
      box-shadow: none !important;
  }

  &:disabled {
      cursor: default;
  }
  &-sm {
    font-size: .875rem;
    height: $input-height - 10 !important;
  }
}

button {
  border-radius: $border-radius !important;
}

// Legends
.legends-list {
  ul {
      margin: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      li {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          &:not(:last-child) {
              margin-right: 15px;
          }
          h6{
              margin: 0;
              border-left: 1px solid $border-color;
              padding-left: 12px;
              color: $gray-500;
              font-weight: $font-weight-normal;
          }
          .label-value {
              margin: 0 0 0 .5rem;
              font-size: $font-size-base;
          }
      }
  }
}

// Card Styles
.l-card{
  border: 1px solid $border-color;
  border-radius: 4px;
  &:not(:first-of-type){
    margin-top: 16px;
  }
  &-header{
    display: flex;
    padding: 0 16px;
    align-items: center;
    border-bottom: 1px solid $border-color;
    justify-content: flex-start;
  }
  &-body{
    padding: 16px 16px 0;
  }
}

// Action wrapper
.action-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  span{
    cursor: pointer;
  }
  > * { 
    white-space: nowrap;
    &:not(:last-of-type){
      margin-right: 8px;
    }
  }
}