.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #202a44;
    color: white;
  }
  
  .not-found-title {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .not-found-message {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .back-home-button {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #202a44;
    background-color: rgb(213, 232, 62);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-home-button:hover {
    background-color: #c1d33f;
  }
  